# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id

# Cloudinary Configuration (Optional)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Mercado Pago Configuration - PRODUCCIÓN
MERCADOPAGO_ACCESS_TOKEN=APP_USR-3805637089394876-062320-da82ba95333079012f1e0776e1963bba-740803134
MERCADOPAGO_PUBLIC_KEY=APP_USR-6452aa8c-531d-4aff-9a29-bbeb27ca1f2c
MERCADOPAGO_CLIENT_ID=3805637089394876
MERCADOPAGO_CLIENT_SECRET=F0cHd68cqaU8NSk390rVADAApJOgtScM

# Para el frontend (opcional, si necesitas acceder desde el cliente)
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=APP_USR-6452aa8c-531d-4aff-9a29-bbeb27ca1f2c

# Base URL para la aplicación
NEXT_PUBLIC_BASE_URL=https://control-restaurantes.vercel.app
